Repository SysoneEduTeam4/BankAccount, pull requests merged in 2024-07, with the labels that each got.

#24 [Study] Lombok, Builder Pattern, MVC Pattern
  docs/study/heonuk/Builder_Pattern.md
  docs/study/heonuk/Lombok_Library.md
  docs/study/heonuk/MVC_Pattern.md
  docs/study/heonuk/Sequence_Diagram.md
Labels: ✏️ Study

#25 [Study] Lombok, Builder Pattern, MVC Pattern - 이준희
  docs/study/juni/Builder_Pattern.md
  docs/study/juni/Flow_Chart.md
  docs/study/juni/Lombok_Library.md
  docs/study/juni/MVC_Pattern.md
Labels: ✏️ Study

#26 [Study] Lombok, Builder Patter, MVC Pattern - 권혁규
  docs/study/hyukkyu/Builder_Pattern.md
  docs/study/hyukkyu/Lombok_Library.md
  docs/study/hyukkyu/MVC_Pattern.md
Labels: ✏️ Study

#27 [Study] Lombok, Builder Pattern, MVC Pattern - 황희정
  docs/study/heejung/Builder_Pattern.md
  docs/study/heejung/Lombok_Library.md
  docs/study/heejung/MVC_Pattern.md
Labels: ✏️ Study

#28 [Setting]Maven project로 변경
  pom.xml
Labels: 👷🏻 Set

#29 [Setting] lombook 라이브러리 추가
  pom.xml
Labels: 👷🏻 Set

#30 [Refactor] 은행 객체 Lombok 라이브러리 적용 및 리팩토링 환경 초기 설정
  pom.xml
  src/BankAccountApplication.java
  src/controller/BankManager.java
  src/model/Account.java
  src/model/Bank.java
  src/model/DateTime.java
  src/model/Transaction.java
  src/view/OutputView.java
Labels: ⬆️ Fix, ♻️ Refactor, 👷🏻 Set
